#addresses{
    padding: 6rem 0;
    .container{
        max-width: 1000px;
    }
    .address{
        background-color: #fff;
        border-radius: 16px;
        margin-bottom: 2rem;
        background-color: $c-gray-light;
        &.expand {
            .address__header{
                .toggle-btn span{
                    transform: rotate(180deg);
                    &:last-of-type{
                        transform: translate(-50%, -50%) rotate(270deg);
                    }
                }
            }
            .address__content {
                animation: expanding 1s ease 0ms forwards;
            }
        }
        &__header{
            border-radius: 16px;
            padding: 2.4rem 3.2rem; 
            display: flex;
            align-items: center;
            gap: 1.6rem;
            background-color: $c-gray;
            cursor: pointer;
            h3{
                flex: 1;
            }
            .toggle-btn{
                display: flex;
                position: relative;
                span{
                    width: 28px;
                    height: 2px;
                    background-color: black;
                    border-radius: 10px;
                    transform-origin: center;
                    transition: 160ms ease-in;
                    &:last-of-type{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: 340ms ease-out;
                    }
                }
            }
        }
        &__content{
            padding: 0 3.2rem;
            overflow: hidden;
            height: auto;
            max-height: 0;
            transition: all 0.2s ease-out;
            .table{
                .tr{
                    padding: 1.2rem 2.4rem;
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;
                    &:first-of-type{
                        border-radius: 50px;
                        background-color: $c-gray;
                    }
                }
                .td{
                    flex: 1;
                    &:last-of-type{
                        flex: 2;
                    }
                }
            }
        }
    }
}

@keyframes expanding {
    100% {
      max-height: 500px;
      padding: 3.2rem;
    }
}
  


// .address {
    // background-color: #fff;
    // border-radius: 8px;
    // box-shadow: 0px 14px 26px rgba(0, 0, 0, 0.08);
    // margin-bottom: 22px;
    // text-align: start;
    // position: relative;
//     &.expand {
//       .address__header::after {
//         transition: all 0.4s ease-out;
//         transform: scaleX(1);
//         background-color: #f3efef;
//       }
//       .address__content {
//         animation: expanding 1s ease forwards 0ms;
//       }
//     }
//     &__header {
//       font-weight: 500;
//       font-size: 17px;
//       position: relative;
//       cursor: pointer;
//       padding: 22px;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//     }
//     &__content{
//       color: #8e9aa0;
//       line-height: 28px;
//       height: auto;
//       opacity: 0;
//       padding: 0 22px;
//       transform: translateY(5px);
//       max-height: 0;
//       transition: max-height 10s ease 0ms;
//     }
// }

