#services{
    padding: 6rem 0;
    background-color: #F8F8F8;
    .section-header{
        margin-bottom: 4.8rem;
        p{
            margin-top: 1.2rem;
        }
    }
    .banner{
        background-color: #E2041F;
        color: white;
        border-radius: 26px;
        padding: 6rem 4rem;
        display: flex;
        gap: 2rem;
        >div{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            position: relative;
            background-image: url('../../assets/icons/services/blob.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center 18%;
            .btn-primary{
                background-color: #FFAA00;
                width: 100%;
                padding: 0.8rem;
                max-width: 180px;
            }
        }
        >ul{
            flex: 2;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 2.8rem;
        }
        li{
            display: flex;
            align-items: flex-start;
            gap: 1.6rem;
            img{
                max-width: 28px;
                margin-top: 1rem;
            }
        }
    }
}