$c-primary: #E2041F;
$c-primary-light: #ff5549;
$c-primary-dark: #a70000;

$c-secondary: #464774;
$c-secondary-light: #7372a3;
$c-secondary-dark: #1b2048;

$c-text: #333;
$c-text-disabled: #a0a3a7;
$c-text-subdued: #7d8083;
$c-text2: #5f5f5f;

$c-danger: #dc3545;
$c-warning: #ffc107;
$c-success: #28a745;

.c-subdued{
    color: $c-text-subdued;
}
.c-disabled{
    color: $c-text-disabled;
}
.c-danger{
    color: $c-danger;
}
.c-warning{
    color: $c-warning;
}
.c-success{
    color: $c-success;
}