@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;700&display=swap');

:root{
    font-size: 10px;
}

$f-weight-thin: 300;
$f-weight-normal: 500;
$f-weight-bold: 700;

$f-size-xxs: 1.2rem;
$f-size-xs: 1.3rem;
$f-size-sm: 1.4rem;
$f-size-md: 1.6rem;
$f-size-lg: 1.8rem;
$f-size-xl: 2.0rem;
$f-size-xxl: 2rem;

h1,
h2,
h3,
h4,
h5 {
	font-weight: var(--f-weight-bold);
}
h1 {
	font-size: var(--f-size-xxl);
	line-height: calc(var(--f-size-xxl) + 0.8rem);
}
h2 {
	font-size: var(--f-size-xl);
	line-height: calc(var(--f-size-xl) + 0.8rem);
}
h3 {
	font-size: var(--f-size-lg);
	line-height: calc(var(--f-size-lg) + 0.8rem);
}
h4 {
	font-size: var(--f-size-md);
	line-height: calc(var(--f-size-md) + 0.8rem);
}
h5 {
	font-size: var(--f-size-sm);
	line-height: calc(var(--f-size-sm) + 0.8rem);
}
h6 {
	font-size: var(--f-size-xs);
	line-height: calc(var(--f-size-xs) + 0.8rem);
}

// Weights
.fw-thin{
    font-weight: $f-weight-thin;
}
.fw-normal{
    font-weight: $f-weight-normal;
}
.fw-bold{
    font-weight: $f-weight-bold;
}

// Sizes
.fs-xxs{
    font-size: $f-size-xxs;
}
.fs-xs{
    font-size: $f-size-xs;
}
.fs-sm{
    font-size: $f-size-sm;
}
.fs-md{
    font-size: $f-size-md;
}
.fs-lg{
    font-size: $f-size-lg;
}
.fs-xl{
    font-size: $f-size-xl;
}
.fs-xxl{
    font-size: $f-size-xxl;
}

// @media screen and (min-width: 761px) {
// 	:root {
// 		font-size: 14px;
// 	}
// }

// @media screen and (min-width: 501px) and (max-width: 760px) {
// 	:root {
// 		font-size: 12px;
// 	}
// }

// @media screen and (min-width: 411px) and (max-width: 500px) {
// 	:root {
// 		font-size: 11px;
// 	}
// }
// @media screen and (max-width: 410px) {
// 	:root {
// 		font-size: 10px;
// 	}
// }
